<%- model_class = Component -%>
<div class="page-header">
  <h1><%= Brand.find(@component.brand_id).name + " " + @component.comp_id %> 
  	<small><br />
  	<%= Status.find(@component.logcomponents.last.status).name if Status.exists?(@component.logcomponents.last.status) %>
  	@
  	<%= Location.find(@component.logcomponents.last.sent_to).name %>		
  	</small>
  </h1>
 
 
 <% total = get_comp_todos(@component).count %>

<div class="form-actions">
<%= link_to "History log", logcomponents_path(:component_id => @component.id), :class => 'btn btn-primary' %>


	<% if ! is_in_transit_comp(@component) %>
	<a data-toggle="modal" href="#check-component" class="btn btn-primary">Check in component</a>
	<% else  %>
	<a data-toggle="modal" href="#send-component" class="btn btn-primary">Send component</a>
	<% end %>	

<a data-toggle="modal" href="#add-task-comp" class="btn btn-primary">Add a task</a>
<!-- Modal -->
  <div class="modal fade" id="add-task-comp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add a task</h4>
        </div>
        <div class="modal-body">
			<% @comp_todo = CompTodo.new %>
			<%= form_for @comp_todo, :html => { :class => 'form-horizontal', :role => "form" } do |f| %>
			
			<div class="control-group">
				
			    <%= f.label :title, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.text_field :title, :class => 'text_field' %>
			      <%= f.hidden_field :component_id, :value => @component.id %>
			      </div>
			</div>
			<div class="control-group">
				
			    <%= f.label :level, :class => 'control-label' %>
			    <div class="controls">
			    <%= f.select :level, options_for_select([["Low", "low"], ["Medium", "medium"],["High", "high"]]) %>
			</div>
			</div>
			<div class="control-group">
				 <%= f.label :task, :class => 'control-label' %>
			<div class="controls">
			      <%= f.text_area :task, :class => 'text_field' %>
			</div>
			</div>
			

        </div>
        <div class="modal-footer">
          <%= f.submit "Create task", :class => 'btn btn-primary' %>
		  <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

 <!-- Modal -->
  <div class="modal fade" id="send-component" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Send component</h4>
        </div>
        <div class="modal-body">
			<% @logcomponent = Logcomponent.new %>
			<%= form_for @logcomponent, :html => { :class => 'form-horizontal', :role => "form" } do |f| %>
			<div class="control-group">
		    <%= f.label "From", :class => 'control-label' %>
		    <div class="controls">
		       <%= f.collection_select :sent_from, Location.all, :id, :name, :include_blank => "Select a location" %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label "To", :class => 'control-label' %>
		    <div class="controls">
		        <%= f.collection_select :sent_to, Location.all, :id, :name, :include_blank => "Select a destination" %>
		    </div>
		  </div>
		  <%= f.hidden_field :component_id, :value => @component.id %>
		  <%= f.hidden_field :sent_by, :value => current_user.id %>
		  <%= f.hidden_field :status, :value => 2 %>
		  <%= f.hidden_field :send_date, :value => DateTime.now %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Send", :class => 'btn btn-primary' %>
		  <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- Modal -->
<% if ! @component.logcomponents.empty?%>
  <div class="modal fade" id="check-component" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Check in component</h4>
        </div>
        <div class="modal-body">
			<% @logcomponent_edit = @component.logcomponents.last %>
			<%= form_for @logcomponent_edit, :html => { :class => 'form-horizontal', :role => "form" } do |f| %>
			<div class="control-group">
		    <%= f.label :status, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.collection_select :status, Status.all, :id, :name, :include_blank => "Select a status" %>
		    </div>
		  </div>
		<%= f.hidden_field :arrive_date, :value => DateTime.now %>
		<%= f.hidden_field :recived_by, :value => current_user.id %>
			
        </div>
        <div class="modal-footer">
          <%= f.submit "Check in", :class => 'btn btn-primary' %>
		  <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <% end %>
<div class="btn-group">
 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    To do <span class="badge <% if total > 0 %>badge-red <% end %>"><%= total %></span>
  </button>

  <ul class="dropdown-menu grey" role="menu" >


    <% get_comp_todos(@component).each do |c|%>
	   <li><%= link_to c do %>
    	<%= c.title %>
    	<% if c.level == "high" %>
    	<% color = "badge-red" %>
    	<% elsif c.level == "medium"%>
    	<% color = "badge-orange" %>
    	<% elsif c.level == "low"%>
    	<% color = "badge-green" %>
    	<% end %>
    	<span class="badge <%= color %>"> </span>
    	<% end %>
	</li>
     <li class="divider"></li>
    
    <% end %>

   <li><%= link_to 'Show all...', todos_path(:comp_id => @component.id)%></li>
   
   </ul>
    </div>
 </div>
</div>

<dl class="dl-horizontal">
  <dt><strong>Serial number:</strong></dt>
  <dd><%= @component.comp_id %></dd>
  <dt><strong>Owner:</strong></dt>
  <dd><%= Company.find(@component.company_id).name if Company.exists?(@component.company_id) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_check) %>:</strong></dt>
  <dd><%= @component.last_check || "Not set" %></dd>
  
  <dt><strong>Calib due date:</strong></dt>
  <% if @component.last_check != nil %>
  <dd><%= @component.last_check + 1.year || "Not set" %>  (<%= ((@component.last_check + 1.year)- DateTime.now).to_i %> days ) </dd>
	<% else %>
  <dd>Not set</dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:range) %>:</strong></dt>
  <dd><%= @component.range || "Not set" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_id) %>:</strong></dt>
  <% if @component.unit_id != nil && Unit.exists?(@component.unit_id) %>
  <dd><%= Unit.find(@component.unit_id).unit_id %></dd>
  <% else %>
   <dd>Not assigned</dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:available) %>:</strong></dt>
  <dd><% if @component.available %>
  	Yes
  	<% else %>
  	No
  	<% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:calibrated) %>:</strong></dt>
  <dd><% if @component.calibrated %>
  	Yes
  	<% else %>
  	No
  	<% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:commet) %>:</strong></dt>
  <dd><%= @component.commet %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              components_path, :class => 'btn'  %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_component_path(@component), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              component_path(@component),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

</div>
