
<div class="page-header">
	<h3>Costum reports</h3>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#units-report" data-toggle="tab">Unit report</a></li>
  <li><a href="#xls" data-toggle="tab">XSL</a></li>
  <li><a href="#meeting" data-toggle="tab">Meeting</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="units-report">
  	<%= form_tag get_unit_location_pages_path, method: :get do %>
  			<div class="control-group">
			    <div class="controls">
			      <%= text_field_tag 'unit_location_start_date', nil, placeholder: 'Select start date', :class => 'text_field' %>
			       <%= text_field_tag 'unit_location_end_date', nil, placeholder: 'Select end date', :class => 'text_field' %>
			    </div>
			</div>
			<div class="control-group">
				
				<div class="controls">
					 
				      <%= label_tag "Select Location", nil, :class => 'control-label' %>
				      <%= collection_select nil, :sent_from, Location.all, :id, :name, :include_blank => "All" %>
				    <!--
				     <%= label_tag "Select location", nil, :class => 'control-label' %>
				      <%= collection_select nil, :location_id, Location.all, :id, :name, :include_blank => "All" %>
				    -->
				     </div>
				     </div>
			<%= submit_tag "Get report", :class => "btn btn-primary" %>
  	<% end %>
  	
  	  <% if ! @log.empty?  %>
  <h4>Results: <%= @log.count %></h4>
  <% @log.each do |l| %>
  	<p><b> <%= l.send_date %></b> <%= link_to l.unit.unit_id, l.unit %> sent from: <b><%= Location.find(l.sent_from).name %></b>
  		to: <b><%= Location.find(l.sent_to).name %> <%= l.arrive_date %></b>	
  	</p>
  	<% end %>
  	from: <%= @from.class %>
  <% else %>
  "No matches"
  <% end %>
  </div>
  
  
  <div class="tab-pane" id="xls">
			  	<div id="form-wrapper">
				<div class="form-container">
			<h4>Units report:</h4>
			<hr />
			<%= form_tag get_unit_report_pages_path(format: "xls"), method: :get do %>
			<div class="control-group">
			    <%= label_tag "Yearly check before", nil, :class => 'control-label' %>
			    <div class="controls">
			      <%= text_field_tag 'unit_yearly_check_date', nil, placeholder: 'Select from date', :class => 'text_field' %>
			    </div>
			</div>
			     <div class="controls">
			      <%= collection_select nil, :company_id, Company.all, :id, :name, :include_blank => "Select a owner" %>
			     </div>
			     <div class="control-group">
			     <%= label_tag "Status", nil, :class => 'control-label' %>
			     <div class="radio-buttons">
			     	
			      <%= collection_radio_buttons nil, :status, Status.all, :id, :name, :include_blank => "Select a status" %>
			     </div>
			  </div>
			  <%= submit_tag "Download report", :class => "btn btn-primary" %>
			<% end %>
			</div>
			<div class="form-container">
				<h4>Components report:</h4>
				<hr />
				<%= form_tag get_component_report_pages_path(format: "xls"), method: :get do %>
			<div class="control-group">
			    <%= label_tag "Yearly check before", nil, :class => 'control-label' %>
			    <div class="controls">
			      <%= text_field_tag 'component_yearly_check_date', nil, placeholder: 'Select from date', :class => 'text_field' %>
			    </div>
			     <div class="controls">
			      <%= collection_select nil, :company_id, Company.all, :id, :name, :include_blank => "Select a owner" %>
			     </div>
			    
			  </div>
			  <%= submit_tag "Download report", :class => "btn btn-primary" %>
			<% end %>
			</div>
			</div>
			<div class="form-container">
				<h4>Unit log:</h4>
				<hr />
			</div>
			<div class="form-container">
				<h4>Component log:</h4>
				<hr />
			</div>
			
</div>
  <div class="tab-pane" id="meeting">
  	<%= form_tag get_todo_report_pages_path(format: "xls"), method: :get do %>
  	
  	<%= submit_tag "Download report", :class => "btn btn-primary" %>
  	<% end %>
  	
  </div>
  <div class="tab-pane" id="settings">asa</div>
  
	
</div>







