<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
      	 <Cell><Data ss:Type="Date"><%= DateTime.now.to_formatted_s(:long) %></Data></Cell>
      </Row>
     
     
    
     	<Row>
     	</Row>
     	
    
      <Row>
        <Cell><Data ss:Type="String">Unit id</Data></Cell>
        <Cell><Data ss:Type="String">Owner</Data></Cell>
        <Cell><Data ss:Type="String">Last check</Data></Cell>
        <Cell><Data ss:Type="String">Next check</Data></Cell>
        <Cell><Data ss:Type="String">Location</Data></Cell>
        <Cell><Data ss:Type="String">Comment</Data></Cell>
      </Row>
    <% @units.each do |unit| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= unit.unit_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= unit.company.name %> </Data></Cell>
        <Cell><Data ss:Type="Date"><%= unit.last_check %></Data> </Cell>
        <Cell><Data ss:Type="Date"><%= unit.last_check + 1.year %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Location.find(unit.logunits.last.sent_to).name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= unit.comment %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>