<%= form_for @comp_todo, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :level, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :task, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :task, :class => 'text_field' %>
    </div>
  </div>
 <%= f.hidden_field :component_id, :value => @comp_id %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                comp_todos_path, :class => 'btn' %>
  </div>
<% end %>
