<%- model_class = Todo -%>
<div class="page-header">

<% if @unit != nil %>
<h3>Task on unit <%= @unit.unit_id %> <small>and components assigned to this unit</small></h3>
<% elsif @comp != nil  %>
<h3>Tasks on component <%= @comp.brand.name %> | <%= @comp.comp_id %></h3>
<% else %>
<h3>Full list</h3>
<% end %>
</div>
<div class="control-group">
<script>
	function getByUnitOrComp()
	{
		var unit = document.getElementById("todo-unit-id");
		var unit_id = unit.options[unit.selectedIndex].value;
		var comp = document.getElementById("todo-comp-id");
		var comp_id = comp.options[comp.selectedIndex].value;
		window.location.replace("/todos?unit_id=" + unit_id + "&comp_id=" + comp_id  )
	}
</script>
    <div class="controls">
    	<select id="todo-unit-id" style="margin:0px 0 0 0">
    		<option value="">Search by unit:</option>
    		<% Unit.all.each do |u| %>
    		
    		<option value="<%= u.id %>">
    			<%= u.unit_id %>
    		</option>
    		<% end %>
    	</select>
    		<select id="todo-comp-id" style="margin:0px 0 0 0">
    		<option value="">Search by component:</option>
    		<% Component.all.each do |c| %>
    		<option value="<%= c.id %>">
    			<%= c.comp_id %>
    		</option>
    		<% end %>
    	</select>
    	<a href="#" class="btn btn-primary" onclick="getByUnitOrComp()">Search</a>
      	<%= link_to "Show all", todos_path, :class => 'btn btn-primary' %>
    </div>
  </div>

<h4> Incompleted tasks</h4>
<%= form_tag update_individual_todos_path, method: :put do %>
<table class="table table-striped" id="incompleted-tasks">
  <thead>
    <tr>
     
      <th></th>
      <th>Unit or Component</th>
      <th>Title</th>
      <th>Date</th>
      <th>Task</th>
      
      
      </tr>
    </thead>
<tbody>


 
  <% @unit_todos.each do |u|%>
	<% todo = Todo.find(u.todo_id) %>
	<% if ! todo.done %>
<tr>  
	<td><%= check_box_tag "todo_ids[]", todo.id %></td>	
	<td><%= link_to "Unit " + u.unit.unit_id.to_s, u.unit %></td>
  	<td><%= link_to u.title, unit_todo_path(u)%> </td>
  	<td><%= u.created_at.strftime("%d %B %Y") %></td>
  	<td><%= u.task %></td>
</tr>
  <% end %>
<% end %>
 <% @comp_todos.each do |u|%>
	<% todo = Todo.find(u.todo_id) %>
	<% if ! todo.done %>
	
  <tr>  
	  <td><%= check_box_tag "todo_ids[]", todo.id %></td>
	  <td><%= link_to u.component.brand.name + " " + u.component.comp_id.to_s, u.component%></td>
	 <td> <%= link_to u.title, comp_todo_path(u)%></td>
	 <td><%= u.created_at.strftime("%d %B %Y") %></td>
  	<td><%= u.task %></td>
 </tr>
  
  <% end %>
<% end %>
</tbody>
</table>
<div class="form-actions">
  <%= submit_tag "Done checked", :class => "btn btn-success" %>
</div>
<% end %>

<h4>Comlpete Tasks</h4>
<table class="table table-striped" id="completed-tasks">
  <thead>
      <tr>
	      <th>Title</th>
	      <th>Date</th>
	      <th>Task</th>
      </tr>
    </thead>
<tbody>

   <% @unit_todos.each do |u|%>
	<% todo = Todo.find(u.todo_id) %>
	<% if todo.done %>
	<tr>
	
  <td> <%= link_to u.title, unit_todo_path(u)%></td>
 <td><%= u.created_at.strftime("%d %B %Y") %></td>
  	<td><%= u.task %></td>
  	</tr>
  	
  <% end %>
<% end %>
   <% @comp_todos.each do |u|%>
	<% todo = Todo.find(u.todo_id)%>
	<% if todo.done %>
	
  	<tr>
	  	<td> <%= link_to u.title, comp_todo_path(u)%></td>
	 	<td><%= u.created_at.strftime("%d %B %Y") %></td>
  		<td><%= u.task %></td>
  	</tr>

  
  	</div>
  	<% end %>
  <% end %>
</tbody>
</table>


