<%- model_class = Todo -%>
<div class="page-header">
 
</div>
<h3> Incompleted tasks</h3>
<table class="table table-striped" id="incompleted-tasks">
  <thead>
    <tr>
     
      <th></th>
      <th>Title</th>
      <th>Date</th>
      <th>Task</th>
      
      </tr>
    </thead>
<tbody>

<%= form_tag update_individual_todos_path, method: :put do %>
 
  <% @unit_todos.each do |u|%>
	<% todo = Todo.find(u.todo_id) %>
	<% if ! todo.done %>
	<tr>
        
        
	<td><%= check_box_tag "todo_ids[]", todo.id %></td>	
  	<td><%= link_to u.title, unit_todo_path(u)%> </td>
  	<td><%= u.created_at %></td>
  	<td><%= u.task %></td>
</tr>
  <% end %>
<% end %>
 <% @comp_todos.each do |u|%>
	<% todo = Todo.find(u.todo_id) %>
	<% if ! todo.done %>
	
  <tr>
        
        
	  <td><%= check_box_tag "todo_ids[]", todo.id %></td>
	 <td> <%= link_to u.title, comp_todo_path(u)%></td>
	 <td><%= u.created_at %></td>
  	<td><%= u.task %></td>
  	</tr>
  
  <% end %>
<% end %>
</tbody>
</table>
<div class="form-actions">
  <%= submit_tag "Done checked", :class => "btn" %>
</div>
<% end %>

<h3>Comlpete Tasks</h3>
<table class="table table-striped" id="completed-tasks">
  <thead>
      <tr>
	      <th>Title</th>
	      <th>Date</th>
	      <th>Task</th>
      </tr>
    </thead>
<tbody>

   <% @unit_todos.each do |u|%>
	<% todo = Todo.find(u.todo_id) %>
	<% if todo.done %>
	<tr>
	
  <td> <%= link_to u.title, unit_todo_path(u)%></td>
 <td><%= u.created_at %></td>
  	<td><%= u.task %></td>
  	</tr>
  	
  <% end %>
<% end %>
   <% @comp_todos.each do |u|%>
	<% todo = Todo.find(u.todos_id) %>
	<% if todo.done %>
	
  	<tr>
	  	<td> <%= link_to u.title, comp_todo_path(u)%></td>
	 	<td><%= u.created_at %></td>
  		<td><%= u.task %></td>
  	</tr>

  
  	</div>
  	<% end %>
  <% end %>
</tbody>
</table>


