<%- model_class = Unit -%>
<div class="page-header">
  <h1>
  	<%= @unit.unit_id %>
    
    <small> 
    <% if @unit.logunits.count > 0 %>
    	<%= Status.find(@unit.logunits.last.status).name if Status.exists?(@unit.logunits.last.status)%>
    	@ <% loc = Location.find(@unit.logunits.last.sent_to) %> 
    	<%= loc.name %> (<%= loc.company.name %>)
    <% end %>
    
	
	</small>
  </h1>

 <%= link_to t('.back', :default => t("helpers.links.back")),
              units_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_unit_path(@unit), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              unit_path(@unit),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

  <% total = get_total(@unit)%>
 <!--
<%= link_to todos_path(:unit_id => @unit.id), :class => "btn btn-primary" do %>
  To do
  <span class="badge <% if total > 0 %>badge-red <% end %>"><%= total %></span>
<% end %>
-->

<div class="form-actions">
	<% if is_in_transit_unit(@unit) %>
		<%= link_to "Go to package", @unit.logunits.last.package, :class => 'btn btn-primary' %>
	<% end %>
	<%= link_to "History log", logunits_path(:unit_id => @unit.id), :class => 'btn btn-primary' %>
	<a data-toggle="modal" href="#add-task" class="btn btn-primary">Add a task</a>
<div class="btn-group">
 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    To do <span class="badge <% if total > 0 %>badge-red <% end %>"><%= total %></span>
  </button>
  <ul class="dropdown-menu grey" role="menu" >

  	 <% get_todos_for_unit(@unit).each do |c|%>
     <li><%= link_to c do %>
    	<%= c.title %>
    	<% if c.level == "high" %>
    	<% color = "badge-red" %>
    	<% elsif c.level == "medium"%>
    	<% color = "badge-orange" %>
    	<% elsif c.level == "low"%>
    	<% color = "badge-green" %>
    	<% end %>
    	<span class="badge <%= color %>"> </span>
    	<% end %>
	</li>
     <li class="divider"></li>
    
    <% end %>
    <% get_todos_for_components_on_unit(@unit).each do |c|%>
    <li><%= link_to c do %>
    	<%= c.title %>
    	<% if c.level == "high" %>
    	<% color = "badge-red" %>
    	<% elsif c.level == "medium"%>
    	<% color = "badge-orange" %>
    	<% elsif c.level == "low"%>
    	<% color = "badge-green" %>
    	<% end %>
    	<span class="badge <%= color %>"> </span>
    	<% end %>
	</li>
     <li class="divider"></li>
    
    <% end %>

   <li><%= link_to 'Show all...', todos_path(:unit_id => @unit.id)%></li>

    </ul>
 </div> 
 <% days = (@unit.last_check + 1.year)- DateTime.now %>
 <h4 style="float:right"><%= days.to_i %> days</h4>
</div>
  
 <!-- Modal -->
  <div class="modal fade" id="check-unit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Check in unit</h4>
        </div>
        <div class="modal-body">
			<% @logunit_edit = @unit.logunits.last %>
			<%= form_for @logunit_edit, :html => { :class => 'form-horizontal', :role => "form" } do |f| %>
			<div class="control-group">
		    <%= f.label :status, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.collection_select :status, Status.all, :id, :name, :include_blank => "Select a status" %>
		    </div>
		  </div>
		<%= f.hidden_field :arrive_date, :value => DateTime.now %>
		<%= f.hidden_field :recived_by, :value => current_user.id %>
			
        </div>
        <div class="modal-footer">
          <%= f.submit "Check in", :class => 'btn btn-primary' %>
		  <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="add-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add a task</h4>
        </div>
        <div class="modal-body">
			<% @unit_todo = UnitTodo.new %>
			<%= form_for @unit_todo, :html => { :class => 'form-horizontal', :role => "form" } do |f| %>
			<div class="control-group">
				
			    <%= f.label :title, :class => 'control-label' %>
			    <div class="controls">
			      <%= f.text_field :title, :class => 'text_field' %>
			      <%= f.hidden_field :unit_id, :value => @unit.id %>
			      </div>
			</div>
			<div class="control-group">
				
			    <%= f.label :level, :class => 'control-label' %>
			    <div class="controls">
			    <%= f.select :level, options_for_select([["Low", "low"], ["Medium", "medium"],["High", "high"]]) %>
			</div>
			</div>
			<div class="control-group">
				 <%= f.label :task, :class => 'control-label' %>
			<div class="controls">
			      <%= f.text_area :task, :class => 'text_field' %>
			</div>
			</div>
			

        </div>
        <div class="modal-footer">
          <%= f.submit "Create task", :class => 'btn btn-primary' %>
		  <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<dl class="dl-horizontal">
	<% if @unit.company_id != nil %>
 <dt><strong>Owner:</strong></dt>
  <dd><%= Company.find(@unit.company_id).name %></dd>
 <% end %>
  <dt><strong>Leased by:</strong></dt>
  <dd><%= @unit.logunits.last.client_id != nil ? Company.find(@unit.logunits.last.client_id).name : "none"   %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_check) %>:</strong></dt>
  <dd><%= @unit.last_check %></dd>
  <dt><strong><%= model_class.human_attribute_name(:available) %>:</strong></dt>
  <dd><% if @unit.available %>
  	Yes
  	<% else %>
  	No
  	<% end %>
  </dd>
  
  <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd><%= @unit.comment %></dd>

</dl>
<h5>Components on this unit</h5>
	<%= form_tag edit_individual_components_path, method: :get do %>
<table class="table table-striped" id="unit-comps">
  <thead>
    <tr>
      	<th></th>
      	<th>Serial number</th>
	    <th>Type</th>
	    <th>Last check</th>
	    <th>Calibrated</th>
	    <th>Comment</th>
    
    
    </tr>
  </thead>
  <tbody>
  
    <% @unit.components.order("brand_id desc").each do |c|%>
    
      <tr>
        <td><%= check_box_tag "component_ids[]", c.id%></td>
        <td><%= link_to c.comp_id, c %></td>
         <td><%= Brand.find(c.brand_id).name %></td>
        <td><%= c.last_check %></td>
        <td><%= c.calibrated %></td>
        <td><% if c.commet != nil %>
        	<%= c.commet.truncate(15)%>
        	<%end %>
        </td>
        </tr>
        
      
	   <% end %>
        </tbody>
        </table>
<div class="form-actions">
	<%= submit_tag "Edit Checked", :class => "btn" %>
	  <% end %>
</div>

