<%- model_class = Location -%>
<div class="page-header">
  <h1><% @location.company != nil ? @location.company.name  + " @ " : "not set" %>
  	<%= @location.company.name + " " + @location.name + " -- " + Status.find(@location.status).name %></h1>
</div>

<dl class="dl-horizontal">

	<dt>Address:</dt>
	  <dd><%= @location.address || "not set"%></dd>
	<dt>Postal code:</dt>
	  <dd><%= @location.postal_code || "not set"%></dd>
	<dt>City:</dt>
	  <dd><%= @location.city || "not set"%></dd>
	<dt>Country</dt>
	  <dd><%= @location.country || "not set"%></dd>
</dl>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              locations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_location_path(@location), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              location_path(@location),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
